.workspace {
  padding: 50px;
}

@media screen and (max-width: 1000px) {
  .workspace {
    padding: 35px;
  }
}

@media screen and (max-width: 600px) {
  .workspace {
    padding: 25px;
  }
}

.buttonAdd {
  z-index: 3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  right: 5%;
}