.container {
  padding: 50px;
  background-color: white;
  border-radius: 22px;
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 35px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 25px;
  }
}

.content {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.icon {
  cursor: pointer;
}

.title_input_container {
  max-width: 300px;
}

.submit_btn {
  text-align: right;
}